In [31]:
!pip install pymongo

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo in c:\users\kikenan\appdata\roaming\python\python39\site-packages (4.2.0)

In [32]:
import pymongo
from ipywidgets import Layout, Box, Dropdown, Label
import ipywidgets as widgets
import pandas as pd

In [33]:
client = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
mydb = client["PhoneBook"]
mycol = mydb["contacts"]

data = [{"Name": "Apoorva", "Number": 123456789, "mail_id": "abc@gamil.com"},
        {"Name": "Kiran", "Number": 234567891, "mail_id": "cde@gamil.com"},
        {"Name": "Nanditha", "Number": 345678912, "mail_id": "efg@gamil.com"},
        {"Name": "Keerthi", "Number": 456789123, "mail_id": "ghj@gamil.com"}]

#inserting the contacts

mycol.drop()

inst = mycol.insert_many(data)
print(inst)

#search contact by name or number

for x in mycol.find({},{ "_id": 0, "Name": 1, "Number": 1 }):
  print(x)

<pymongo.results.InsertManyResult object at 0x000001BF00DF4DC0>
{'Name': 'Apoorva', 'Number': 123456789}
{'Name': 'Kiran', 'Number': 234567891}
{'Name': 'Nanditha', 'Number': 345678912}
{'Name': 'Keerthi', 'Number': 456789123}

In [34]:
opt = widgets.Combobox(
    placeholder='Choose Someone',
    options=['Name', 'Number'],
    description='Search:',
    ensure_option=True,
    disabled=False
)

opt

Combobox(value='', description='Search:', ensure_option=True, options=('Name', 'Number'), placeholder='Choose â€¦

In [35]:
val = widgets.Text(
    value='',
    placeholder='Type something',
    description='Name Or Number:',
    disabled=False
)

val

Text(value='', description='Name Or Number:', placeholder='Type something')

In [40]:
dele = widgets.Text(
    value='',
    placeholder='Type something',
    description='Name Or Number:',
    disabled=False
)

dele

Text(value='', description='Name Or Number:', placeholder='Type something')

In [41]:
opt.value
val.value
dele.value

''

In [42]:
if opt.value == 'Name':    
    myquery = { "Name": val.value }
elif opt.value == 'Number':
    myquery = { "Number": int(val.value) }
    
for x in mycol.find(myquery):
      print(x)

x = mycol.delete_one(myquery)

print(x.deleted_count, " documents deleted.")

0  documents deleted.

In [43]:
myList = mycol.find({}, {'_id': 0, 'Name': 1, 'Number': 1, 'mail_id': 1})
myList = pd.DataFrame(myList)

myList

       Name     Number        mail_id
0     Kiran  234567891  cde@gamil.com
1  Nanditha  345678912  efg@gamil.com
2   Keerthi  456789123  ghj@gamil.com